.search__inner {
    position: relative;
    width:100%;
    height:80px;
    padding:17px 40px;
    border-bottom:1px solid var(--black100);

    label {
        position: absolute;
        left:56px;
        top:32px;
        display:inline-block;
        width:24px;
        height:24px;

        span {
            svg {
                position: absolute;
                left:0;
                width:20px;
                height:20px;
            }
        }
        
    }
    

    input {
        background-color: var(--black200);
        width:100%;
        padding:14px 45px;
        border-radius: 40px;
        font-size:16px;
        color:#fff;
    }
}